%transition {
    transition: all .3s ease-out;
}

%font-prim {
    font-family: 'Source Sans Pro', sans-serif;
}

%font-navigation {
    font-family: 'Zen Dots', cursive;
}

%font-add {
    font-family: 'Roboto Mono', monospace;
}
